body{
    width: 100%;
    background-color: burlywood;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#galeria{
    display: flex;
    justify-content: space-evenly;
    
}

#galeria div h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#galeria div{
    background-color:rgb(157, 130, 95);
    width: 30%;
    outline: solid white 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
}

#galeria img{
    width: 100%;
}
